<section class="jumbotron text-center">
    <div class="container">
      <h1><%= @user.first_name %> <%= @user.last_name %></h1>
      <p class="lead text-muted"><%= @user.age %> ans.<br/>
      Vit à <%= @user.city.name %>.<br/>
      <%= @user.description %><br/>
      <%= @user.email %></p>
      <%= link_to 'Ville de l\'auteur', city_path(@user.city.id) %>
    </div>
</section>
<div class="grid">
  <% @author_gossips.each do |gossip| %>
    <div class="card border-dark mb-3" style="max-width: 18rem;">
      <div class="card-body text-dark">
        <h5 class="card-title"><%= gossip.title %></h5>
        <%= link_to 'Aller sur la page', gossip_path(gossip.id), class: "btn btn-sm btn-outline-secondary" %>
      </div>
    </div>
  <% end %>
</div>